<section id="first-view">
    <div class="container-1">
        <div class="namestacks">
            <div class="row">
                <div class="col-12">
                    <h2 id="name">JUAN SEBASTIAN NIÑO</h2>
                </div>
            </div>
            <div class="row stack">
                <div class="col"><i class="devicon-angular-plain"></i>
                </div>
                <div class="col"> <i class="devicon-typescript-plain"></i>
                </div>
                <div class="col"> <i class="devicon-nodejs-plain-wordmark"></i>
                </div>
                <div class="col"> <i class="devicon-dotnetcore-plain"></i>
                </div>
                <div class="col"> <i class="devicon-javascript-plain"></i>
                </div>
                <div class="col"><i class="devicon-html5-plain"></i>
                </div>
                <div class="col"> <i class="devicon-css3-plain"></i>
                </div>
                <div class="col"> <i class="devicon-amazonwebservices-plain-wordmark"></i>
                </div>
                <div class="col"> <i class="devicon-csharp-plain"></i>
                </div>
                <div class="col"> <i class="devicon-bootstrap-plain"></i>
                </div>
                <div class="col"> <i class="devicon-git-plain"></i>
                </div>
                <div class="col"> <i class="devicon-php-plain"></i>
                </div>
                <div class="col"> <i class="devicon-mysql-plain-wordmark"></i>
                </div>
            </div>
            <div class="row p-3">
                <div class="col"><a class="btn btn-primary" href="#second-view">ABOUT ME</a>
                </div>
            </div>
        </div>

        <div class="title-dev">
            <p id="fullstack">FULLSTACK</p>
            <p id="developer">DEVELOPER</p>
        </div>
        <div class="button-container">
        </div>
        <div class="image-container">
            <img src="assets/images/engels.png" id="angels" alt="Juan Sebastian Niño" width="200" height="200">
            <div class="frame">
                <img src="assets/images/frame.png" id="marc" alt="Juan Sebastian Niño">
            </div>
        </div>
    </div>
</section>