.container-1 {
  padding-top: 4rem;
  min-height: 100vh;
  width: 100%;
}

.title-dev {
  position: absolute;
  bottom: 21rem;
  left: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-dev #fullstack {
  color: white;
  font-size: 7rem;
  font-family: "oswald", sans-serif;
  font-weight: 600;
  margin: 0;
  height: 6rem;
}

.title-dev #developer {
  color: white;
  font-size: 8.7rem;
  font-family: "oswald", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.name-networks {
  position: absolute;
  text-align: center;
  right: 2rem;
  font-family: "oswald", sans-serif;
}

#name {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.networks {
  font-size: 3rem;
}

.networks span {
  transition: transform 0.3s ease-in-out;
}

.networks span:hover {
  transform: scale(1.3);
}

.image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container #angels {
  width: 60%;
  height: 45rem;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .title-dev {
    position: absolute;
    bottom: 15rem;
    left: 16px;
    z-index: 1;
  }

  .title-dev #fullstack {
    font-size: 4rem;
  }

  .title-dev #developer {
    font-size: 4rem;
  }
  .networks {
    font-size: 2rem;
  }

  #name {
    font-size: 2.5rem;
  }

    .image-container #angels {
        width: 100%;
        height: 20rem;
        z-index: 1;
    }

}
