.background {
    /* background: linear-gradient(to bottom, #c9d9e4, #8697A3, #ececec); */
    background: url('/assets/images/fondo-2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

