<section id="second-view">
    <div class="container-2">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <p>About Me</p>
                </div>
                <div class="col">
                    <p>My experience</p>
                </div>
            </div>


            <div class="pilar">
                <div class="top"></div>
                <div class="cuerpo"></div>
                <div class="base"></div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/photo_cv.jpg" id="photo" class="w-50 rounded" alt="...">
                    <p> I'm a fullstack developer with experience in Angular, NodeJs, .Net, Typescript, SQL</p>
                </div>

                <div class="col-md-6">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="assets/images/mundo-software.jpeg" class="img-fluid rounded-start" alt="..."
                                    width="200" height="200">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">MUNDO SOFTWARE F&S</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">2024 - Now</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="assets/images/amaris.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Amaris Consulting</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">2024 - 2025</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>