<section id="second-view">
  <div class="container-2">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div data-aos="zoom-in">
            <p id="title">SOBRE MI</p>
            <p>
              Hola! soy Juan Sebastian, soy un desarrollador web autodidacta
              apasionado por los retos.
            </p>
            <p>
              Durante mi tiempo libre disfruto aprender cosas nuevas, hacer
              ejercicio y escuchar música clasica. Me considero una persona
              proactiva y comprometida con mi trabajo.
            </p>
            <p>
              Aspiro a ser un desarrollador profesional destacado y contribuir
              significativamente al mundo de la tecnología.
            </p>

            <div class="container">
              <p id="title">STACK TECNOLOGICO</p>
              <!-- Botones de categorías -->
              <div class="categories">
                <button
                  *ngFor="let cat of categories"
                  (click)="setCategory(cat)"
                  [class.active]="selectedCategory === cat"
                >
                  {{ cat }}
                </button>
              </div>

              <!-- Grid de tecnologías -->
              <div class="grid">
                <div class="card" *ngFor="let tech of filteredTechs">
                  <i [class]="tech.iconClass + ' icon'"></i>
                  <p id="tech-name">{{ tech.name }}</p>
                  <span class="category">{{ tech.category }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
