<div class="container-2">
    <h1>
        About me
    </h1>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/photo_cv.jpg" id="photo" class="img-fluid rounded-start"
                    alt="Juan Sebastian Niño" width="200" height="200">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">        I'm a fullstack developer with experience in Angular, NodeJs, .Net, Typescript, SQL
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>