<section id="third-view">
    <div class="container-3">
        <div class="container justify-content-center text-center">
            <p id="title">PROYECTOS</p>
            <div class="row">
                <div class="col">
                    <img src="assets/images/votapp-pc.png" alt="" width="500">

                    <div class="card mb-3 w-100">
                        <div class="card-body">
                            <h5 class="card-title">VOTAPPASAMBLY</h5>
                            <p class="card-text">Votappasambly es un proyecto desarrollado por mi y mi equipo
                                (MUNDO SOFTWARE F&S) con la intencion de facilitar
                                el proceso de votacion en asambleas, en ella puedes encontrar distintas herramientas
                                como la creacion de asambleas con geolocalización, creacion de preguntas y la
                                visualizacion de resultados de
                                las mismas.</p>
                            <a class="btn btn-primary w-100">Ver sitio web</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="assets/images/pyt-pc.png" alt="" width="500">

                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title">ATN SENA</h5>
                            <p class="card-text"> ATN fue el proyecto final de mi carrera tecnologica
                                Analisis y
                                desarrollo de software en el SENA CEET. Es un sitio web estatico hecho con el framework
                                BOOTSTRAP, MYSQL Y PHP, donde podras encontrar informacion de distintos productos y
                                servicios.
                                Fue hecho con el fin de impulsar los emprendimientos surgidos del SENA.
                            </p>
                            <a href="#" class="btn btn-primary w-100">Ver sitio web</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>